# Data Analysis on Social Media Sentiments Analysis Dataset

In [2]:
import pandas as pd
import time
import os
from google import genai
from dotenv import load_dotenv
load_dotenv() # load environment variables

True

In [3]:
# Load the data from the CSV file
loaded_df = pd.read_csv('sentimentdataset.csv')

# Display the first few rows of the loaded dataframe
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [4]:
print(f"Length of Dataset: {len(loaded_df)}")

Length of Dataset: 732

## Analyze Sensitive Attributes

In [5]:
with open('prompt-sensitive_attributes.txt', 'w') as file:
    file.write("I have a dataset for which contains arbitrary posts on various common social media platforms.\n")
    file.write("They are indicated either positive or negative.\n") 
    file.write("Return a list in the format: \n")
    file.write("Sensitive Attributes: \n")
    file.write("1. attribute1\n")
    file.write("Insensitive Attributes: \n")
    file.write("1. attribute2\n")
    file.write("\n")
    file.write("Check whichever attribute from a dataset as listed below are sensitive attributes:\n")
    for column in loaded_df.columns:
        file.write(f"{column}\n")
print("Prompt file created")

Prompt file created

In [6]:
client = genai.Client(api_key=os.environ.get('GOOGLE_GEMINI_API_KEY'))
with open('prompt-sensitive_attributes.txt', 'r') as file:
    prompt = file.read()

    response = client.models.generate_content(
        model="gemini-2.0-flash", contents=prompt
    )
    print(response.text)

Okay, based on the potential for bias and discrimination, here's a list of sensitive and insensitive attributes from your dataset:

**Sensitive Attributes:**

1.  **Sentiment:** This is the target variable you're trying to predict.  Treating it as an attribute *could* lead to circular reasoning when evaluating fairness (i.e., if the model performs differently for certain groups *because* of real sentiment differences, it's not necessarily unfair).  However, it needs to be carefully considered.  If your goal is to determine if there is a difference in sentiments across social media platforms, it could be sensitive.
2.  **User:** User information can easily be linked to demographic information (e.g., gender, race, location), making it a potentially sensitive attribute.  Even if the user data itself seems innocuous, it can serve as a proxy for protected characteristics.
3.  **Country:**  Country of origin is often closely tied to ethnicity, nationality, and cultural background, all of which are protected characteristics.  Models can easily learn to discriminate based on country.
4.  **Platform:** While the platform itself might not seem inherently sensitive, certain demographics might be disproportionately represented on specific platforms. If you're building a model whose output will affect users on *specific* platforms, then platform becomes a relevant consideration.

**Insensitive Attributes:**

1.  **Unnamed: 0.1:**  Likely an index column.
2.  **Unnamed: 0:** Likely an index column.
3.  **Text:** The text of the social media post itself.  While the *content* of the text *could* contain sensitive information (e.g., hate speech, mentions of protected characteristics), the text itself, treated as a generic attribute, isn't inherently sensitive.  However, you'll want to be very careful how you process the text to avoid introducing bias.
4.  **Timestamp:** The raw timestamp is unlikely to be sensitive. However, be wary if the timestamp reveals user behavior patterns that correlate with sensitive attributes.
5.  **Hashtags:** The presence of some hashtags may be linked to sensitive categories, but hashtags themselves are generally insensitive.
6.  **Retweets:**  Number of retweets is generally insensitive.
7.  **Likes:**  Number of likes is generally insensitive.
8.  **Year:** Generally insensitive.
9.  **Month:** Generally insensitive.
10. **Day:** Generally insensitive.
11. **Hour:** Generally insensitive.

**Important Considerations and Disclaimers:**

*   **Context Matters:** The sensitivity of an attribute is *highly* dependent on the specific use case and the potential impact of the model. Always consider the downstream consequences.
*   **Intersectionality:** Sensitive attributes can become even *more* problematic when considered in combination. For example, the intersection of `Platform` and `Country` might reveal specific demographic groups that are vulnerable to discrimination.
*   **Proxy Variables:**  Even if you remove explicit sensitive attributes, your model can still learn to discriminate based on proxy variables â€“ attributes that are highly correlated with protected characteristics.  Be vigilant in identifying and mitigating this risk.
*   **Data Preprocessing:** The way you preprocess your data can unintentionally introduce bias. For example, certain tokenization or embedding techniques might amplify existing stereotypes.
*   **Regular Auditing:**  Fairness is not a one-time check.  Regularly audit your model for bias and fairness issues, and be prepared to retrain or adjust your model as needed.

This information is for guidance only and does not constitute legal or ethical advice. You should consult with legal and ethical experts to ensure your model complies with all applicable regulations and guidelines.

## Analyze Positive vs Negative Sentiments

In [7]:
# Print the unique values in Sentiment column
unique_sentiments = loaded_df['Sentiment'].unique()
print(f"Total Number of Sentiments in datsaset: {len(unique_sentiments)}")
unique_sentiments

Total Number of Sentiments in datsaset: 279

array([' Positive  ', ' Negative  ', ' Neutral   ', ' Anger        ',
       ' Fear         ', ' Sadness      ', ' Disgust      ',
       ' Happiness    ', ' Joy          ', ' Love         ',
       ' Amusement    ', ' Enjoyment    ', ' Admiration   ',
       ' Affection    ', ' Awe          ', ' Disappointed ',
       ' Surprise     ', ' Acceptance   ', ' Adoration    ',
       ' Anticipation ', ' Bitter       ', ' Calmness     ',
       ' Confusion    ', ' Excitement   ', ' Kind         ',
       ' Pride        ', ' Shame        ', ' Confusion ', ' Excitement ',
       ' Shame ', ' Elation       ', ' Euphoria      ', ' Contentment   ',
       ' Serenity      ', ' Gratitude     ', ' Hope          ',
       ' Empowerment   ', ' Compassion    ', ' Tenderness    ',
       ' Arousal       ', ' Enthusiasm    ', ' Fulfillment  ',
       ' Reverence     ', ' Compassion', ' Fulfillment   ', ' Reverence ',
       ' Elation   ', ' Despair         ', ' Grief           ',
       ' Loneliness      ', ' Jealousy        ', ' Resentment      ',
       ' Frustration     ', ' Boredom         ', ' Anxiety         ',
       ' Intimidation    ', ' Helplessness    ', ' Envy            ',
       ' Regret         ', ' Disgust         ', ' Despair      ',
       ' Loneliness ', ' Frustration ', ' Anxiety   ', ' Intimidation ',
       ' Helplessness ', ' Jealousy    ', ' Curiosity       ',
       ' Indifference    ', ' Confusion       ', ' Numbness        ',
       ' Melancholy      ', ' Nostalgia       ', ' Ambivalence     ',
       ' Acceptance      ', ' Determination   ', ' Serenity        ',
       ' Numbness ', ' Zest ', ' Contentment ', ' Hopeful ', ' Proud ',
       ' Grateful ', ' Empathetic ', ' Compassionate ', ' Playful ',
       ' Free-spirited ', ' Inspired ', ' Confident ', ' Serenity ',
       ' Curiosity ', ' Ambivalence ', ' Despair ', ' Bitterness ',
       ' Yearning ', ' Fearful ', ' Apprehensive ', ' Overwhelmed ',
       ' Jealous ', ' Devastated ', ' Frustrated ', ' Envious ',
       ' Dismissive ', ' Awe           ', ' Determination ',
       ' Nostalgia      ', ' Thrill        ', ' Calmness      ',
       ' Overwhelmed   ', ' Gratitude   ', ' Bittersweet ',
       ' Curiosity     ', ' Admiration    ', ' Overjoyed     ',
       ' Inspiration   ', ' Motivation    ', ' Amusement     ',
       ' Contemplation ', ' JoyfulReunion ', ' Excitement    ',
       ' Satisfaction  ', ' Blessed       ', ' Anticipation  ',
       ' Reflection    ', ' Nostalgia     ', ' Appreciation  ',
       ' Confidence    ', ' Surprise      ', ' Accomplishment ',
       ' Wonderment    ', ' Optimism      ', ' Pride         ',
       ' Happiness     ', ' Curiosity   ', ' Enchantment   ',
       ' Intrigue      ', ' PlayfulJoy    ', ' Mindfulness   ',
       ' DreamChaser   ', ' Elegance ', ' Whimsy        ', ' Pensive ',
       ' Thrill      ', ' Harmony    ', ' Creativity   ', ' Radiance    ',
       ' Wonder     ', ' Rejuvenation ', ' Inspiration ',
       ' Coziness     ', ' Gratitude  ', ' Adventure ', ' Euphoria   ',
       ' Awe    ', ' Melodic       ', ' FestiveJoy    ',
       ' InnerJourney  ', ' Freedom       ', ' Dazzle        ',
       ' Adrenaline     ', ' Harmony       ', ' ArtisticBurst ',
       ' Radiance      ', ' Wonder       ', ' Inspiration  ',
       ' CulinaryOdyssey ', ' Euphoria     ', ' Curiosity  ',
       ' Resilience   ', ' Immersion ', ' Nostalgia ', ' Spark        ',
       ' Gratitude    ', ' Marvel       ', ' Serenity   ',
       ' Heartbreak    ', ' Loneliness    ', ' Grief      ',
       ' Despair   ', ' Betrayal      ', ' Suffering ',
       ' EmotionalStorm ', ' Regret        ', ' Isolation ',
       ' Disappointment ', ' LostLove ', ' Melancholy ', ' Exhaustion ',
       ' Sorrow      ', ' Darkness     ', ' Desperation ', ' Ruins      ',
       ' Desolation ', ' Regret ', ' Grief ', ' Heartbreak ',
       ' Betrayal ', ' Resilience ', ' Sorrow ', ' Loss ', ' Heartache ',
       ' Solitude ', ' Joy ', ' Happiness ', ' Enthusiasm ',
       ' Gratitude ', ' Positivity ', ' Kindness ', ' Friendship ',
       ' Love ', ' Surprise ', ' Success ', ' Thrill ', ' Reflection ',
       ' Enchantment ', ' Exploration ', ' Awe ', ' Amazement ',
       ' Romance ', ' Captivation ', ' Wonder ', ' Tranquility ',
       ' Grandeur ', ' Emotion ', ' Energy ', ' Celebration ', ' Charm ',
       ' Ecstasy ', ' Hope ', ' Creativity ', ' Colorful ', ' Pride ',
       ' Hypnotic ', ' Connection ', ' Iconic ', ' Euphoria ',
       ' Journey ', ' Engagement ', ' Touched ', ' Suspense ',
       ' Satisfaction ', ' Admiration ', ' Triumph ', ' Heartwarming ',
       ' Obstacle ', ' Sympathy ', ' Pressure ', ' Renewed Effort ',
       ' Miscalculation ', ' Challenge ', ' Solace ', ' Breakthrough ',
       ' Harmony ', ' Joy in Baking ', ' Envisioning History ',
       ' Imagination ', ' Vibrancy ', ' Mesmerizing ',
       ' Culinary Adventure ', ' Winter Magic ', ' Thrilling Journey ',
       " Nature's Beauty ", ' Celestial Wonder ',
       ' Creative Inspiration ', ' Runway Creativity ',
       " Ocean's Freedom ", ' Whispers of the Past ', ' Boredom ',
       ' Indifference ', ' Disgust ', ' Relief ', ' Positive ',
       ' Embarrassed ', ' Mischievous ', ' Sad ', ' Hate ', ' Bad ',
       ' Neutral ', ' Happy '], dtype=object)

In [8]:
unique_sentiments_count = loaded_df['Sentiment'].value_counts()
unique_sentiments_count

Sentiment
Positive               44
Joy                    42
Excitement             32
Happy                  14
Neutral                14
                       ..
Vibrancy                1
Culinary Adventure      1
Mesmerizing             1
Thrilling Journey       1
Winter Magic            1
Name: count, Length: 279, dtype: int64

In [9]:
with open("prompt_positive.txt", "w") as file:
    file.write("In the following array of sentiments, indicate whichever is positive and whichever is negative.\n")
    file.write("Note: Indicate only a list of positive sentiments, comma seperated:\n")
    file.write(", ".join(unique_sentiments))
print("Prompt file created for positive sentiments.")

Prompt file created for positive sentiments.

In [10]:
client = genai.Client(api_key=os.environ.get('GOOGLE_GEMINI_API_KEY'))
with open('prompt_positive.txt', 'r') as file:
    prompt = file.read()

    response = client.models.generate_content(
        model="gemini-2.0-flash", contents=prompt
    )
    print(response.text)

Positive, Happiness, Joy, Love, Amusement, Enjoyment, Admiration, Affection, Awe, Acceptance, Adoration, Anticipation, Calmness, Excitement, Kind, Pride, Elation, Euphoria, Contentment, Serenity, Gratitude, Hope, Empowerment, Compassion, Tenderness, Enthusiasm, Fulfillment, Reverence, Zest, Hopeful, Proud, Grateful, Empathetic, Compassionate, Playful, Free-spirited, Inspired, Confident, Determination, Thrill, Gratitude, Overjoyed, Inspiration, Motivation, Amusement, Satisfaction, Blessed, Anticipation, Appreciation, Confidence, Optimism, Pride, Happiness, Enchantment, Intrigue, PlayfulJoy, Mindfulness, DreamChaser, Elegance, Whimsy, Thrill, Harmony, Creativity, Radiance, Wonder, Rejuvenation, Inspiration, Coziness, Gratitude, Adventure, Euphoria, Awe, Melodic, FestiveJoy, InnerJourney, Freedom, Dazzle, Adrenaline, Harmony, ArtisticBurst, Radiance, Wonder, Inspiration, CulinaryOdyssey, Euphoria, Resilience, Immersion, Spark, Gratitude, Marvel, Serenity, Joy, Happiness, Enthusiasm, Gratitude, Positivity, Kindness, Friendship, Love, Surprise, Success, Thrill, Reflection, Enchantment, Exploration, Awe, Amazement, Romance, Captivation, Wonder, Tranquility, Grandeur, Emotion, Energy, Celebration, Charm, Ecstasy, Hope, Creativity, Colorful, Pride, Hypnotic, Connection, Iconic, Euphoria, Journey, Engagement, Touched, Suspense, Satisfaction, Admiration, Triumph, Heartwarming, Solace, Breakthrough, Harmony, Joy in Baking, Envisioning History, Imagination, Vibrancy, Mesmerizing, Culinary Adventure, Winter Magic, Thrilling Journey, Nature's Beauty, Celestial Wonder, Creative Inspiration, Runway Creativity, Ocean's Freedom, Whispers of the Past, Positive, Happy

In [11]:
# Convert the response text to an array of positive sentiments
positive_sentiments = response.text.split(", ")
assert len(positive_sentiments) > 0
assert len(positive_sentiments) < len(unique_sentiments)
print(f"Total number of Positive Sentiments: {len(positive_sentiments)}")

Total number of Positive Sentiments: 152

## Annotate Suicidal Posts with LLM - Google Gemini

In [12]:
# Add a new column 'Annotation' to the dataframe
loaded_df['Annotation'] = None

# Display the first few rows of the updated dataframe
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,None
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,None
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,None
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,None
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,None

In [13]:
# Make a copy of the dataframe to annotate binary labels
annotated_df = loaded_df.copy(deep=True)
annotated_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,None
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,None
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,None
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,None
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,None

In [14]:
assert len(annotated_df) == len(loaded_df)

In [27]:
# construc a base prompt 
with open("prompt_annotation_base.txt", "w") as file:
    file.write("I have a dataset of arbitrary posts on various common social media platforms.\n")
    file.write("They are indicated either positive or negative.\n")
    file.write("With reference to the following DORIS scale,\n")
    file.write("indicate whether the post content is suicidal.\n")
    file.write("Represent your answer only with an integer in response.\n")
    file.write("For example, if you think the post content is suicidal, indicate only 9 in your response.\n")
    file.write("I will provide a batch of at most 10 posts for you you to annotate,\n")
    file.write("one line per post.\n")
    file.write("Please provide your annotations in the same order as the posts are provided, line-by-line.\n")
    file.write("DORIS Scale:\n")
    # https://arxiv.org/pdf/2403.10750
    file.write("1. Depressed mood\n")
    file.write("2. Loss of interest/pleasure\n")
    file.write("3. Weight loss or gain\n")
    file.write("4. Insomnia or hypersomnia\n")
    file.write("5. Psychomotor agitation or retardation\n")
    file.write("6. Fatigue\n")
    file.write("7. Inappropriate guilt\n")
    file.write("8. Decreased concentration\n")
    file.write("9. Thoughts of suicide\n\n")
    file.write("Prompts to decide:\n")

In [38]:
with open("prompt_annotation_base.txt", "r") as file:
    basePrompt = file.read()
    # for loop to annotate all posts and append to DataFrame
    batch: list = []
    for index, row in loaded_df.iterrows():
        if row['Sentiment'] in positive_sentiments:
            # Directly label the Annotation column to be 0
            loaded_df.at[index, 'Annotation'] = 0 # multi-class
            annotated_df.at[index, 'Annotation'] = 0 # binary
            continue
        else:
            batch.append(row['Text'])

        if len(batch) == 50 or index > len(loaded_df) - 50:
            if (len(loaded_df) - 50 < index < len(loaded_df)-1):
                continue
            # construct prompt with at most 10 posts
            prompt = basePrompt + "\n".join(batch)
            # annotate with gemini
            response = client.models.generate_content(
                model="gemini-2.0-flash", contents=prompt
            )
            annotations = list(map(int, response.text.strip().split("\n")))
            for i, annotation in enumerate(annotations):
                # Multi-class label
                loaded_df.at[index - len(batch) + i + 1, 'Annotation'] = annotation
                # Binary label
                if annotation == 9:
                    annotated_df.at[index - len(batch) + i + 1, 'Annotation'] = 1
                else:
                    annotated_df.at[index - len(batch) + i + 1, 'Annotation'] = 0
            
            time.sleep(5)
            batch = [] # clear batch

Multi-class Labels:
* 1: Depressed mood
* 2: Loss of interest/pleasure
* 3: Weight loss or gain
* 4: Insomnia or hypersomnia
* 5: Psychomotor agitation or retardation
* 6: Fatigue
* 7: Inappropriate guilt
* 8: Decreased concentration
* 9: Thoughts of suicide

Binary Labels: 
* 0: Non-Suicidal
* 1: Suicidal

In [39]:
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,1
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,1
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,1
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,1
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,1

Make sure no missing values in annotation.

In [40]:
unique_multi_annotations = loaded_df['Annotation'].value_counts()
assert 1 < len(unique_multi_annotations) <= 10
unique_multi_annotations

Annotation
1    488
0    182
2     32
9      1
Name: count, dtype: int64

In [41]:
annotated_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,0
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,0
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,0
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,0
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,0

In [42]:
unique_binary_annotations = annotated_df['Annotation'].value_counts()
assert len(unique_binary_annotations) == 2
unique_binary_annotations

Annotation
0    702
1      1
Name: count, dtype: int64

In [43]:
assert len(loaded_df) == len(annotated_df) # records
assert len(loaded_df.columns) == len(annotated_df.columns) # columns

In [44]:
loaded_df.to_csv('sentimentdataset_annotated.csv', index=False)

In [45]:
annotated_df.to_csv('sentimentdataset_annotated_binary.csv', index=False)

Finally, check whether the datasets are saved to CSV properly.

In [46]:
assert len(pd.read_csv('sentimentdataset_annotated.csv')) == len(loaded_df)
assert len((pd.read_csv('sentimentdataset_annotated.csv')).columns) == len(loaded_df.columns)
assert len(pd.read_csv('sentimentdataset_annotated_binary.csv')) == len(annotated_df)
assert len((pd.read_csv('sentimentdataset_annotated_binary.csv')).columns) == len(annotated_df.columns)