# Data Analysis on Social Media Sentiments Analysis Dataset

In [1]:
import pandas as pd
import time
import os
from google import genai
from dotenv import load_dotenv
load_dotenv() # load environment variables

True

In [2]:
# Load the data from the CSV file
loaded_df = pd.read_csv('sentimentdataset.csv')

# Display the first few rows of the loaded dataframe
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [3]:
print(f"Length of Dataset: {len(loaded_df)}")

Length of Dataset: 732

## Analyze Sensitive Attributes

In [4]:
with open('prompt-sensitive_attributes.txt', 'w') as file:
    file.write("I have a dataset for which contains arbitrary posts on various common social media platforms.\n")
    file.write("They are indicated either positive or negative.\n") 
    file.write("Return a list in the format: \n")
    file.write("Sensitive Attributes: \n")
    file.write("1. attribute1\n")
    file.write("Insensitive Attributes: \n")
    file.write("1. attribute2\n")
    file.write("\n")
    file.write("Check whichever attribute from a dataset as listed below are sensitive attributes:\n")
    for column in loaded_df.columns:
        file.write(f"{column}\n")
print("Prompt file created")

Prompt file created

In [5]:
client = genai.Client(api_key=os.environ.get('GOOGLE_GEMINI_API_KEY'))
with open('prompt-sensitive_attributes.txt', 'r') as file:
    prompt = file.read()

    response = client.models.generate_content(
        model="gemini-2.0-flash", contents=prompt
    )
    print(response.text)

Okay, I will analyze the provided list of attributes and categorize them as either sensitive or insensitive based on the potential for bias, discrimination, or privacy concerns.

Here's the breakdown and the list in the requested format:

**Sensitive Attributes:**

1.  **User:**  This can be sensitive because user identifiers can be linked to demographic information (age, gender, location, etc.) or potentially reveal identity, especially on smaller platforms. While a simple username might not be *inherently* sensitive, the *ability to identify and track individuals* based on this is a privacy risk.  Considered sensitive because it could reveal demographic information, potentially leading to bias.
2.  **Country:** Can indicate origin, which can be associated with nationality, ethnicity, and related biases.
3.  **Platform:** (Potentially Sensitive): *If* the platform itself is heavily associated with specific demographic groups or political leanings, it *could* be considered sensitive.  For example, if a certain platform is known to be primarily used by a particular age group or political affiliation, its inclusion could introduce bias.  However, on its own, it's less directly sensitive than User or Country.

**Insensitive Attributes:**

1.  **Unnamed: 0.1:** This is just an index column and carries no meaning regarding the post itself
2.  **Unnamed: 0:** This is just an index column and carries no meaning regarding the post itself
3.  **Text:** This is the content of the post and is needed for sentiment analysis.
4.  **Sentiment:** This represents the derived sentiment and does not include any demographic information.
5.  **Timestamp:** The time the post was made.
6.  **Hashtags:** Relevant keywords of the text of the post.
7.  **Retweets:** Number of retweets the post had.
8.  **Likes:** Number of likes the post had.
9.  **Year:** Year the post was made.
10. **Month:** Month the post was made.
11. **Day:** Day the post was made.
12. **Hour:** Hour the post was made.
13. **Retweets:** The number of retweets a post received.
14.  **Likes:** The number of likes a post received.

**Result:**

```
Sensitive Attributes:
1. User
2. Country
3. Platform

Insensitive Attributes:
1. Unnamed: 0.1
2. Unnamed: 0
3. Text
4. Sentiment
5. Timestamp
6. Hashtags
7. Retweets
8. Likes
9. Year
10. Month
11. Day
12. Hour

```

**Important Considerations:**

*   **Context Matters:** The sensitivity of an attribute depends heavily on the *specific context* of the dataset and its intended use.
*   **Data Preprocessing:**  Even if an attribute is considered "insensitive," careful preprocessing is essential to avoid introducing bias. For example, encoding categorical features improperly could lead to unintended biases.
*   **Intersectionality:**  The combination of multiple "insensitive" attributes could *reveal* sensitive information.  For example, combining "Year," "Month," "Day," and "Hour" with a specific "Hashtag" *could* reveal patterns about particular groups.
*   **Ethical Considerations:**  Always consider the ethical implications of using your data, even if you believe you have removed sensitive attributes.  Think about potential unintended consequences or uses of your model.
*   **De-identification Techniques:** It's very difficult to perfectly de-identify user data. Even removing obvious identifiers, a determined actor might be able to re-identify individuals through various techniques.

This analysis is a starting point. A thorough evaluation requires a deeper understanding of the dataset's purpose and the potential risks involved. It is highly recommended to consult with data privacy experts or ethicists for critical applications.

## Analyze Positive vs Negative Sentiments

In [6]:
# Print the unique values in Sentiment column
unique_sentiments = loaded_df['Sentiment'].unique()
print(f"Total Number of Sentiments in datsaset: {len(unique_sentiments)}")
unique_sentiments

Total Number of Sentiments in datsaset: 279

array([' Positive  ', ' Negative  ', ' Neutral   ', ' Anger        ',
       ' Fear         ', ' Sadness      ', ' Disgust      ',
       ' Happiness    ', ' Joy          ', ' Love         ',
       ' Amusement    ', ' Enjoyment    ', ' Admiration   ',
       ' Affection    ', ' Awe          ', ' Disappointed ',
       ' Surprise     ', ' Acceptance   ', ' Adoration    ',
       ' Anticipation ', ' Bitter       ', ' Calmness     ',
       ' Confusion    ', ' Excitement   ', ' Kind         ',
       ' Pride        ', ' Shame        ', ' Confusion ', ' Excitement ',
       ' Shame ', ' Elation       ', ' Euphoria      ', ' Contentment   ',
       ' Serenity      ', ' Gratitude     ', ' Hope          ',
       ' Empowerment   ', ' Compassion    ', ' Tenderness    ',
       ' Arousal       ', ' Enthusiasm    ', ' Fulfillment  ',
       ' Reverence     ', ' Compassion', ' Fulfillment   ', ' Reverence ',
       ' Elation   ', ' Despair         ', ' Grief           ',
       ' Loneliness      ', ' Jealousy        ', ' Resentment      ',
       ' Frustration     ', ' Boredom         ', ' Anxiety         ',
       ' Intimidation    ', ' Helplessness    ', ' Envy            ',
       ' Regret         ', ' Disgust         ', ' Despair      ',
       ' Loneliness ', ' Frustration ', ' Anxiety   ', ' Intimidation ',
       ' Helplessness ', ' Jealousy    ', ' Curiosity       ',
       ' Indifference    ', ' Confusion       ', ' Numbness        ',
       ' Melancholy      ', ' Nostalgia       ', ' Ambivalence     ',
       ' Acceptance      ', ' Determination   ', ' Serenity        ',
       ' Numbness ', ' Zest ', ' Contentment ', ' Hopeful ', ' Proud ',
       ' Grateful ', ' Empathetic ', ' Compassionate ', ' Playful ',
       ' Free-spirited ', ' Inspired ', ' Confident ', ' Serenity ',
       ' Curiosity ', ' Ambivalence ', ' Despair ', ' Bitterness ',
       ' Yearning ', ' Fearful ', ' Apprehensive ', ' Overwhelmed ',
       ' Jealous ', ' Devastated ', ' Frustrated ', ' Envious ',
       ' Dismissive ', ' Awe           ', ' Determination ',
       ' Nostalgia      ', ' Thrill        ', ' Calmness      ',
       ' Overwhelmed   ', ' Gratitude   ', ' Bittersweet ',
       ' Curiosity     ', ' Admiration    ', ' Overjoyed     ',
       ' Inspiration   ', ' Motivation    ', ' Amusement     ',
       ' Contemplation ', ' JoyfulReunion ', ' Excitement    ',
       ' Satisfaction  ', ' Blessed       ', ' Anticipation  ',
       ' Reflection    ', ' Nostalgia     ', ' Appreciation  ',
       ' Confidence    ', ' Surprise      ', ' Accomplishment ',
       ' Wonderment    ', ' Optimism      ', ' Pride         ',
       ' Happiness     ', ' Curiosity   ', ' Enchantment   ',
       ' Intrigue      ', ' PlayfulJoy    ', ' Mindfulness   ',
       ' DreamChaser   ', ' Elegance ', ' Whimsy        ', ' Pensive ',
       ' Thrill      ', ' Harmony    ', ' Creativity   ', ' Radiance    ',
       ' Wonder     ', ' Rejuvenation ', ' Inspiration ',
       ' Coziness     ', ' Gratitude  ', ' Adventure ', ' Euphoria   ',
       ' Awe    ', ' Melodic       ', ' FestiveJoy    ',
       ' InnerJourney  ', ' Freedom       ', ' Dazzle        ',
       ' Adrenaline     ', ' Harmony       ', ' ArtisticBurst ',
       ' Radiance      ', ' Wonder       ', ' Inspiration  ',
       ' CulinaryOdyssey ', ' Euphoria     ', ' Curiosity  ',
       ' Resilience   ', ' Immersion ', ' Nostalgia ', ' Spark        ',
       ' Gratitude    ', ' Marvel       ', ' Serenity   ',
       ' Heartbreak    ', ' Loneliness    ', ' Grief      ',
       ' Despair   ', ' Betrayal      ', ' Suffering ',
       ' EmotionalStorm ', ' Regret        ', ' Isolation ',
       ' Disappointment ', ' LostLove ', ' Melancholy ', ' Exhaustion ',
       ' Sorrow      ', ' Darkness     ', ' Desperation ', ' Ruins      ',
       ' Desolation ', ' Regret ', ' Grief ', ' Heartbreak ',
       ' Betrayal ', ' Resilience ', ' Sorrow ', ' Loss ', ' Heartache ',
       ' Solitude ', ' Joy ', ' Happiness ', ' Enthusiasm ',
       ' Gratitude ', ' Positivity ', ' Kindness ', ' Friendship ',
       ' Love ', ' Surprise ', ' Success ', ' Thrill ', ' Reflection ',
       ' Enchantment ', ' Exploration ', ' Awe ', ' Amazement ',
       ' Romance ', ' Captivation ', ' Wonder ', ' Tranquility ',
       ' Grandeur ', ' Emotion ', ' Energy ', ' Celebration ', ' Charm ',
       ' Ecstasy ', ' Hope ', ' Creativity ', ' Colorful ', ' Pride ',
       ' Hypnotic ', ' Connection ', ' Iconic ', ' Euphoria ',
       ' Journey ', ' Engagement ', ' Touched ', ' Suspense ',
       ' Satisfaction ', ' Admiration ', ' Triumph ', ' Heartwarming ',
       ' Obstacle ', ' Sympathy ', ' Pressure ', ' Renewed Effort ',
       ' Miscalculation ', ' Challenge ', ' Solace ', ' Breakthrough ',
       ' Harmony ', ' Joy in Baking ', ' Envisioning History ',
       ' Imagination ', ' Vibrancy ', ' Mesmerizing ',
       ' Culinary Adventure ', ' Winter Magic ', ' Thrilling Journey ',
       " Nature's Beauty ", ' Celestial Wonder ',
       ' Creative Inspiration ', ' Runway Creativity ',
       " Ocean's Freedom ", ' Whispers of the Past ', ' Boredom ',
       ' Indifference ', ' Disgust ', ' Relief ', ' Positive ',
       ' Embarrassed ', ' Mischievous ', ' Sad ', ' Hate ', ' Bad ',
       ' Neutral ', ' Happy '], dtype=object)

In [7]:
unique_sentiments_count = loaded_df['Sentiment'].value_counts()
unique_sentiments_count

Sentiment
Positive               44
Joy                    42
Excitement             32
Happy                  14
Neutral                14
                       ..
Vibrancy                1
Culinary Adventure      1
Mesmerizing             1
Thrilling Journey       1
Winter Magic            1
Name: count, Length: 279, dtype: int64

In [8]:
with open("prompt_positive.txt", "w") as file:
    file.write("In the following array of sentiments, indicate whichever is positive and whichever is negative.\n")
    file.write("Note: Indicate only a list of positive sentiments, comma seperated:\n")
    file.write(", ".join(unique_sentiments))
print("Prompt file created for positive sentiments.")

Prompt file created for positive sentiments.

In [9]:
client = genai.Client(api_key=os.environ.get('GOOGLE_GEMINI_API_KEY'))
with open('prompt_positive.txt', 'r') as file:
    prompt = file.read()

    response = client.models.generate_content(
        model="gemini-2.0-flash", contents=prompt
    )
    print(response.text)

Positive, Happiness, Joy, Love, Amusement, Enjoyment, Admiration, Affection, Awe, Acceptance, Adoration, Anticipation, Calmness, Excitement, Kind, Pride, Elation, Euphoria, Contentment, Serenity, Gratitude, Hope, Empowerment, Compassion, Tenderness, Enthusiasm, Fulfillment, Reverence, Zest, Hopeful, Proud, Grateful, Empathetic, Compassionate, Playful, Free-spirited, Inspired, Confident, Determination, Thrill, Gratitude, Overjoyed, Inspiration, Motivation, Amusement, JoyfulReunion, Excitement, Satisfaction, Blessed, Anticipation, Appreciation, Confidence, Surprise, Accomplishment, Wonderment, Optimism, Pride, Happiness, Enchantment, Intrigue, PlayfulJoy, Mindfulness, DreamChaser, Elegance, Whimsy, Thrill, Harmony, Creativity, Radiance, Wonder, Rejuvenation, Inspiration, Coziness, Gratitude, Adventure, Euphoria, Awe, Melodic, FestiveJoy, InnerJourney, Freedom, Dazzle, Adrenaline, Harmony, ArtisticBurst, Radiance, Wonder, Inspiration, CulinaryOdyssey, Euphoria, Resilience, Immersion, Spark, Gratitude, Marvel, Serenity, Joy, Happiness, Enthusiasm, Gratitude, Positivity, Kindness, Friendship, Love, Surprise, Success, Thrill, Reflection, Enchantment, Exploration, Awe, Amazement, Romance, Captivation, Wonder, Tranquility, Grandeur, Energy, Celebration, Charm, Ecstasy, Hope, Creativity, Colorful, Pride, Hypnotic, Connection, Iconic, Euphoria, Journey, Engagement, Touched, Suspense, Satisfaction, Admiration, Triumph, Heartwarming, Solace, Breakthrough, Harmony, Joy in Baking, Envisioning History, Imagination, Vibrancy, Mesmerizing, Culinary Adventure, Winter Magic, Thrilling Journey, Nature's Beauty, Celestial Wonder, Creative Inspiration, Runway Creativity, Ocean's Freedom, Whispers of the Past, Relief, Happy

In [10]:
# Convert the response text to an array of positive sentiments
positive_sentiments = response.text.split(", ")
assert len(positive_sentiments) > 0
assert len(positive_sentiments) < len(unique_sentiments)
print(f"Total number of Positive Sentiments: {len(positive_sentiments)}")

Total number of Positive Sentiments: 156

## Annotate Suicidal Posts with LLM - Google Gemini

In [11]:
# Add a new column 'Annotation' to the dataframe
loaded_df['Annotation'] = None

# Display the first few rows of the updated dataframe
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,None
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,None
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,None
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,None
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,None

In [12]:
# Make a copy of the dataframe to annotate binary labels
annotated_df = loaded_df.copy(deep=True)
annotated_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,None
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,None
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,None
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,None
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,None

In [13]:
assert len(annotated_df) == len(loaded_df)

In [ ]:
# construct a base prompt 
with open("prompt_annotation_base.txt", "w") as file:
    file.write("I have a dataset of arbitrary posts on various common social media platforms.\n")
    file.write("They are indicated either positive or negative.\n")
    file.write("With reference to the following DORIS scale,\n")
    file.write("indicate whether the post content is suicidal.\n")
    file.write("Represent your answer only with an integer in response.\n")
    file.write("For example, if you think the post content is suicidal, indicate only 9 in your response.\n")
    file.write("I will provide a batch of at most 10 posts for you you to annotate,\n")
    file.write("one line per post.\n")
    file.write("Please provide your annotations in the same order as the posts are provided, line-by-line.\n")
    file.write("DORIS Scale:\n")
    # https://arxiv.org/pdf/2403.10750
    file.write("0. Positive or Neutral\n")
    file.write("1. Depressed mood\n")
    file.write("2. Loss of interest/pleasure\n")
    file.write("3. Weight loss or gain\n")
    file.write("4. Insomnia or hypersomnia\n")
    file.write("5. Psychomotor agitation or retardation\n")
    file.write("6. Fatigue\n")
    file.write("7. Inappropriate guilt\n")
    file.write("8. Decreased concentration\n")
    file.write("9. Thoughts of suicide\n\n")
    file.write("Prompts to decide:\n")

In [15]:
BATCH_SIZE = 20
with open("prompt_annotation_base.txt", "r") as file:
    basePrompt = file.read()
    # for loop to annotate all posts and append to DataFrame
    batch: list = []
    for index, row in loaded_df.iterrows():
        batch.append(row['Text'])

        if len(batch) == BATCH_SIZE or index == len(loaded_df) - 1:
            # construct prompt with at most 20 posts
            prompt = basePrompt + "\n".join(batch)
            # annotate with gemini
            response = client.models.generate_content(
                model="gemini-2.0-flash", contents=prompt
            )
            annotations = [int(item) if item.isdigit() and 0 <= int(item) <= 9 else 0 for item in response.text.strip().split("\n")]
            for i, annotation in enumerate(annotations):
                # Multi-class label
                loaded_df.at[index - len(batch) + i + 1, 'Annotation'] = annotation
                # Binary label
                if annotation == 9:
                    annotated_df.at[index - len(batch) + i + 1, 'Annotation'] = 1
                else:
                    annotated_df.at[index - len(batch) + i + 1, 'Annotation'] = 0
            
            time.sleep(5)
            batch = [] # clear batch

Multi-class Labels:
* 0: Positive or Neutral
* 1: Depressed mood
* 2: Loss of interest/pleasure
* 3: Weight loss or gain
* 4: Insomnia or hypersomnia
* 5: Psychomotor agitation or retardation
* 6: Fatigue
* 7: Inappropriate guilt
* 8: Decreased concentration
* 9: Thoughts of suicide

Binary Labels: 
* 0: Non-Suicidal
* 1: Suicidal

In [16]:
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,0
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,0
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,0
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,0
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,0

Make sure no missing values in annotation.

In [17]:
unique_multi_annotations = loaded_df['Annotation'].value_counts()
assert 1 < len(unique_multi_annotations) <= 10
unique_multi_annotations

Annotation
0    568
1    157
8      2
7      2
6      2
9      1
Name: count, dtype: int64

In [18]:
annotated_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Annotation
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,0
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,0
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,0
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,0
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,0

In [19]:
unique_binary_annotations = annotated_df['Annotation'].value_counts()
assert len(unique_binary_annotations) == 2
unique_binary_annotations

Annotation
0    731
1      1
Name: count, dtype: int64

In [20]:
assert len(loaded_df) == len(annotated_df) # records
assert len(loaded_df.columns) == len(annotated_df.columns) # columns

In [21]:
loaded_df.to_csv('sentimentdataset_annotated.csv', index=False)

In [22]:
annotated_df.to_csv('sentimentdataset_annotated_binary.csv', index=False)

Finally, check whether the datasets are saved to CSV properly.

In [23]:
assert len(pd.read_csv('sentimentdataset_annotated.csv')) == len(loaded_df)
assert len((pd.read_csv('sentimentdataset_annotated.csv')).columns) == len(loaded_df.columns)
assert len(pd.read_csv('sentimentdataset_annotated_binary.csv')) == len(annotated_df)
assert len((pd.read_csv('sentimentdataset_annotated_binary.csv')).columns) == len(annotated_df.columns)

## Evaluation

We check whether there exist explicit hallucinations.

In [24]:
# hallucination rate
mistake_count = 0
total_records = len(loaded_df)
for index, row in loaded_df.iterrows():
    if row['Sentiment'] in positive_sentiments:
        if row['Annotation'] != 0:
            mistake_count += 1
print(f"Hallucination Rate in Multi-Class dataset: {mistake_count / total_records}")

mistake_count = 0
total_records = len(annotated_df)
for index, row in annotated_df.iterrows():
    if row['Sentiment'] in positive_sentiments:
        if row['Annotation'] != 0:
            mistake_count += 1
print(f"Hallucination Rate in Binary-Class dataset: {mistake_count / total_records}")

Hallucination Rate in Multi-Class dataset: 0.0
Hallucination Rate in Binary-Class dataset: 0.0

Based on the "Sentiment" column, we verified all LLM-annotated records, which are all accurate!

## Filter Sensitive Attributes from table

**Sensitive Attributes:**

1.  **User:**  This can be sensitive because user identifiers can be linked to demographic information (age, gender, location, etc.) or potentially reveal identity, especially on smaller platforms. While a simple username might not be *inherently* sensitive, the *ability to identify and track individuals* based on this is a privacy risk.  Considered sensitive because it could reveal demographic information, potentially leading to bias.
2.  **Country:** Can indicate origin, which can be associated with nationality, ethnicity, and related biases.
3.  **Platform:** (Potentially Sensitive): *If* the platform itself is heavily associated with specific demographic groups or political leanings, it *could* be considered sensitive.  For example, if a certain platform is known to be primarily used by a particular age group or political affiliation, its inclusion could introduce bias.  However, on its own, it's less directly sensitive than User or Country.

In [25]:
sensitive_attributes = [
    "User",
    "Platform",
    "Country"
]

In [26]:
df_multi_class_sensitive_attributes = loaded_df[sensitive_attributes].copy(deep=True)
df_binary_class_sensitive_attributes = annotated_df[sensitive_attributes].copy(deep=True)
df_multi_class_non_sensitive_attributes = loaded_df.drop(columns=sensitive_attributes).copy(deep=True)
df_binary_class_non_sensitive_attributes = annotated_df.drop(columns=sensitive_attributes).copy(deep=True)

In [27]:
print(f"Multi-Class Sensitive Attributes: {df_multi_class_sensitive_attributes.columns}, total columns: {len(df_multi_class_sensitive_attributes.columns)}")
print(f"Binary-Class Sensitive Attributes: {df_binary_class_sensitive_attributes.columns}, total columns: {len(df_binary_class_sensitive_attributes.columns)}")
print(f"Multi-Class Non-Sensitive Attributes: {df_multi_class_non_sensitive_attributes.columns}, total columns: {len(df_multi_class_non_sensitive_attributes.columns)}")
print(f"Binary-Class Non-Sensitive Attributes: {df_binary_class_non_sensitive_attributes.columns}, total columns: {len(df_binary_class_non_sensitive_attributes.columns)}")

Multi-Class Sensitive Attributes: Index(['User', 'Platform', 'Country'], dtype='object'), total columns: 3
Binary-Class Sensitive Attributes: Index(['User', 'Platform', 'Country'], dtype='object'), total columns: 3
Multi-Class Non-Sensitive Attributes: Index(['Unnamed: 0.1', 'Unnamed: 0', 'Text', 'Sentiment', 'Timestamp',
       'Hashtags', 'Retweets', 'Likes', 'Year', 'Month', 'Day', 'Hour',
       'Annotation'],
      dtype='object'), total columns: 13
Binary-Class Non-Sensitive Attributes: Index(['Unnamed: 0.1', 'Unnamed: 0', 'Text', 'Sentiment', 'Timestamp',
       'Hashtags', 'Retweets', 'Likes', 'Year', 'Month', 'Day', 'Hour',
       'Annotation'],
      dtype='object'), total columns: 13

In [29]:
assert len(df_multi_class_sensitive_attributes.columns) == len(sensitive_attributes)
assert len(df_binary_class_sensitive_attributes.columns) == len(sensitive_attributes)
assert len(df_multi_class_non_sensitive_attributes.columns) == len(loaded_df.columns) - len(sensitive_attributes)
assert len(df_binary_class_non_sensitive_attributes.columns) == len(annotated_df.columns) - len(sensitive_attributes)

In [32]:
# Save to CSV
df_multi_class_sensitive_attributes.to_csv('sentimentdataset_multi_class_sensitive_attributes.csv', index=False)
df_binary_class_sensitive_attributes.to_csv('sentimentdataset_binary_class_sensitive_attributes.csv', index=False)
df_multi_class_non_sensitive_attributes.to_csv('sentimentdataset_multi_class_non_sensitive_attributes.csv', index=False)
df_binary_class_non_sensitive_attributes.to_csv('sentimentdataset_binary_class_non_sensitive_attributes.csv', index=False)
print("CSV files saved successfully.")

CSV files saved successfully.