# Data Exploration on Social Media Sentiments Analysis Dataset

Source: https://www.kaggle.com/datasets/kashishparmar02/social-media-sentiments-analysis-dataset?resource=download

In [13]:
import pandas as pd
from google import genai
from dotenv import load_dotenv
load_dotenv() # load environment variables

True

In [2]:
FILEPATH = 'sentimentdataset.csv'

In [3]:
# Load the dataset from the CSV file
df = pd.read_csv(FILEPATH)

# Display the first few rows of the dataframe
df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [4]:
print(f"Length of dataset: {len(df)}")
print(f"Columns: {df.columns}")

Length of dataset: 732
Columns: Index(['Unnamed: 0.1', 'Unnamed: 0', 'Text', 'Sentiment', 'Timestamp', 'User',
       'Platform', 'Hashtags', 'Retweets', 'Likes', 'Country', 'Year', 'Month',
       'Day', 'Hour'],
      dtype='object')

In [5]:
df.shape

(732, 15)

There are 732 records (i.e., posts), and each with 15 attributes.