# Data Analysis on Social Media Sentiments Analysis Dataset

In [1]:
import pandas as pd
import time
import os
from google import genai
from dotenv import load_dotenv
load_dotenv() # load environment variables

True

In [2]:
# Load the data from the CSV file
loaded_df = pd.read_csv('sentimentdataset.csv')

# Display the first few rows of the loaded dataframe
loaded_df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [3]:
print(f"Length of Dataset: {len(loaded_df)}")

Length of Dataset: 732

Subgroup dataset by platform

In [4]:
# Trimming dataframe 
trimmed_df = loaded_df.apply(lambda col: col.str.strip() if col.dtypes == 'object' else col)

# Group by 'Platform'
grouped = trimmed_df.groupby('Platform')
print(f"Grouped dataframe: {grouped.size()}")
# Save to subgroup files
for group_name, group_df in trimmed_df.groupby('Platform'):
    filename = f"subgroup/platform/group_{group_name}.csv"
    group_df.to_csv(filename, index=False)
    print(f"Saved {filename}")

Grouped dataframe: Platform
Facebook     231
Instagram    258
Twitter      243
dtype: int64
Saved subgroup/platform/group_Facebook.csv
Saved subgroup/platform/group_Instagram.csv
Saved subgroup/platform/group_Twitter.csv

In [5]:
import country_converter as coco  # pip install country-converter

# Custom mapping for unrecognized regions
custom_map = {
    'Scotland': 'United Kingdom',
    'England': 'United Kingdom',
    'Wales': 'United Kingdom',
    'Northern Ireland': 'United Kingdom',
    'U.S.A.': 'USA',
    'U.S.': 'USA'
}

# Apply custom mapping
trimmed_df['country_clean'] = trimmed_df['Country'].replace(custom_map)

# Convert to continent
trimmed_df['continent'] = trimmed_df['country_clean'].apply(lambda x: coco.convert(names=x, to='continent', not_found='Unknown'))

print(trimmed_df.shape)

# Group by continent
grouped_by_continent = trimmed_df.groupby('continent')
print(f"Grouped by Continent dataframe: {grouped_by_continent.size()}")

(732, 17)
Grouped by Continent dataframe: continent
Africa       7
America    343
Asia        90
Europe     217
Oceania     75
dtype: int64

In [6]:
# Save to subgroup files
for group_name, group_df in trimmed_df.groupby('continent'):
    filename = f"subgroup/continent/group_{group_name}.csv"
    group_df.to_csv(filename, index=False)
    print(f"Saved {filename}")

Saved subgroup/continent/group_Africa.csv
Saved subgroup/continent/group_America.csv
Saved subgroup/continent/group_Asia.csv
Saved subgroup/continent/group_Europe.csv
Saved subgroup/continent/group_Oceania.csv